html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}
#grailsLogo {
    padding:20px;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;
}

input, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
textarea {
    width: 250px;
    height: 150px;
    vertical-align: top;
}

input:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../img/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../img/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../img/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../img/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.find {
    background: url(../img/find.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.save {
    background: url(../img/database_save.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.button a.delete {
    background: url(../img/database_delete.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.cancel {
    background: url(../img/cancel.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.ok {
    background: url(../img/accept.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.save {
    background: url(../img/database_save.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.sendSAP {
    background: url(../img/sapb1icono.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.cancel {
    background: url(../img/cancel.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.book {
    background: url(../img/book_open.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.button input.copiar {
    background: url(../img/page_copy.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.button input.buscar {
    background: url(../img/find.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../img/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
    background: url(../img/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/* TABLES */
.tabla {
    border: 1px solid #ccc;
    width: 100%
}
.tabla tr {
    border: 0;
}
.tabla td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
.tabla th {
    background: #fff url(../img/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
.tabla th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../img/sorted_asc.gif);
}
th.desc a {
    background-image: url(../img/sorted_desc.gif);
}

.td {
  line-height: 12px;
  padding: 5px 6px;
  text-align: left;
  vertical-align: top;
}
.th {
  background: #fff url(../img/shadow.jpg);
  color: #666;
  line-height: 17px;
  padding: 2px 6px;
  font-weight: bold;
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../img/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../img/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}
